- @posts.each do |post|
  .row.post-wrap
    .small-12.columns
      .row
        .small-10.columns
          %h2= link_to post.title, post
        .small-2.columns
          .post-time.right= post.created_at.strftime('%Y/%m/%d')
      .row
        .small-12.columns
          = simple_format( truncate(post.body, length: 500, separator: " "))
          - if post.body.length > 500
            = link_to " tovább >>", post
