-# navigation styled for Zurb Foundation 5
-# the syntax for data-topbar may need to change for Zurb Foundation 5
.contain-to-grid
  %nav.top-bar{"data-topbar" => ""}
    %ul.title-area
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      / Right Nav Section
      /%ul.right
      /  %li.has-dropdown
      /    %a{href: "#"} Településünk
      /    %ul.dropdown
      /      %li
      /        %a{href: "#"} Proba
      /  %li
      /    %a{href: "#"} Archívum
      /  %li
      /    %a{href: "#"} Vendégváró
      / Left Nav Section
      %ul.left
        /%li{class: "#{"active" if controller.controller_name != "post"}"}
        %li.has-dropdown
          %a{href: "#"} Hírek
          %ul.dropdown
            %li
              = link_to 'Új Hír', new_post_path